p {
    display: block;
}

.false {
    opacity: 0;
}

.true {
    opacity: 0.5;
}

.right {
    right: 0px;
    position: fixed;
}

.center {
    background-color: red;
    position: relative;
    left: 50%;
    top: 50%;
}

.scores {
    position: fixed;
    bottom: 0px;
    right: 0px;
    font-size: 11px;
}

.bottom {
    bottom: 0px;
}

.token {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    position: absolute;
    font-size: 4px;
}

.card {
    width: 50px;
    height: 50px;
    position: absolute;
}

.playableCard {
    width: 50px;
    height: 50px;
    position: absolute;
}

.handCard {
    width: 75px;
    height: 75px;
    opacity: 0.75;
}

.handCard:hover {
    opacity: 1;
    transform: scale(1.25) translateY(-10%);
}

.handToken:hover {
    opacity: 1;
    transform: scale(1.25) translateX(10%);
}

.handCardSelected {
    width: 75px;
    height: 75px;
    border: #00FF00;
    border-width: 5px;
}

.handToken {
    width: 20px;
    height: 20px;
    opacity: 0.75;
}

.handTokenSelected {
    width: 20px;
    height: 20px;
    border: #00FF00;
    border-width: 5px;
}

.board {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.hand {
    position: fixed;
    left: 0px;
}

.cardHolder {
    display: inline-flex;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #00FF00;
    font-size: 5px;
}

.gameover {
    color: grey;
    position: fixed;
    z-index: 100;
    font-size: 2em;
}

.secondary-button {
    background-color: aqua;
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 2em;
}

.notfound {
    color: red;
    font-size: 3em;
}
