{{define "gameover"}}
    <div class="centered gameover">
        <h1>
            Game Over
            {{/* {{ .Winner }} wins the game with {{ .Winner.Score }} */}}
        </h1>
        {{ range $color , $score := .Scores }}
                <p>{{ $color }} Bees: {{ $score.BeeMeeples}} Junebugs: {{ $score.JunebugMeeples }} Butterflys: {{ $score.ButterflyMeeples }} </p>
        {{ end }}
        <button type="button" class="secondary-button" onclick='newGame()'>
            New Game
        </button>
    </div>
{{end}}

{{define "board"}}
    {{ if .GameOver }}
        {{ template "gameover" .Scores }}
    {{ else }}
        {{ $debug :=.Debug }}
        {{ $hints :=.HintsOn }}
        {{ $player :=.Player}}
        {{ $gameID :=.GameID}}
        {{ $playableTokens := .PlayableTokenPositions }}
        <div class="board">
            <button class="right" id="hintsToggle" onclick='toggleHints("{{ $gameID }}")'>
                Toggle Hints
            </button>
            {{ if .Scores }}
                <div class="scores">
                        <p>Bee Meeples Left: {{ .Scores.BeeMeeplesLeft }}</p>
                        <p>Junebug Meeples Left: {{ .Scores.JunebugMeeplesLeft }}</p>
                        <p>Butterfly Meeples Left: {{ .Scores.ButterflyMeeplesLeft }}</p>
                        {{ range $color , $score := .Scores.Scores }}
                            <p>{{ $color }} Bees: {{ $score.BeeMeeples}} Junebugs: {{ $score.JunebugMeeples }} Butterflys: {{ $score.ButterflyMeeples }} </p>
                        {{ end }}
                </div>
            {{ end}}
            <div class="info">
                {{ if .IsPlayerTurn }}
                    It is your turn.
                {{ else }}
                    Waiting on opponent's turn to finish.
                {{ end }}
                {{ range $player := .Players }}
                    <p>
                    {{ $player.Username }} {{ $player.Color }} is {{ if $player.Connected }} connected {{ else }} not connected {{ end }}
                    </p>
                {{ end }}
            </div>
            <div class="center">
                {{if .IsPlayerTurn }}                        
                    {{ if not .PlayableTokenPositions }}
                        {{ range $position, $empty := .PlayableCards }}
                        <div class="playableCard" style="{{ if not $hints }}opacity: 0;{{ end}}; left: {{ offset $position.X 0 }}px; bottom: {{ offset $position.Y 0 }}px" onclick='playCard("{{$gameID}}",getCardToPlay(),{{$position.X}},{{$position.Y}})'>
                            <div>
                                <img class="card" src="/static/images/Back_{{$player.Color}}.png"/>
                                {{ if $debug }}
                                    <div class="centered"> Position {{ $position }}</div>
                                {{end}}
                            </div>
                        </div>
                        {{ end }}
                    {{ end }}
                {{ end}}
                {{range $position, $card := .Cards}}
                    <div class="card" style="left: {{ offset $position.X 0 }}px; bottom: {{ offset $position.Y 0 }}px">
                        <div>
                            <img class="card" src="/static/images/{{ $card.Name }}.png" title="{{ $card.Name }}"/>
                            {{ if $debug }}
                                <div class="centered"> Position {{ $position }}</div>
                            {{end}}
                        </div>
                    </div>
                {{end}}
                {{range $position, $token :=.Tokens}}
                    <div class="token" style="left: {{ offset $position.X 15 }}px; bottom: {{ offset $position.Y 15 }}px">
                        {{ if $token.IsSurrounded }}
                            <img class="token" src="/static/images/Token_Back.jpg" onmouseover="this.src='/static/images/{{ $token.Type.Image }}';" onmouseout="this.src='/static/images/Token_Back.jpg';" x="{{ $position.X }}" y="{{ $position.Y }}"/>
                        {{ else }}
                            <img class="token" src="/static/images/{{ $token.Type.Image }}" x="{{ $position.X }}" y="{{ $position.Y }}"/>
                        {{ end}}
                        {{ if $debug }}
                            {{$token.Type}}
                        {{ end }}
                    </div>
                {{end}}
                {{ if .IsPlayerTurn }}
                    {{range $position := .PlayableTokenPositions}}
                        <div class="token" style="background:black; opacity: 0.5; left: {{ offset $position.X 15 }}px; bottom: {{ offset $position.Y 15 }}px;" onclick='playToken("{{$gameID}}",{{$position.X}},{{$position.Y}})'>
                        </div>
                    {{end}}
                {{ end }}
                <div class="bottom hand">
                    <div class="tokenHolder">
                        {{ range $tokenNum, $token := .TokensCanPlay }}
                            <div class="handToken" id="{{ $token.ID }}" onclick='setTokenToPlay("{{ $token.ID }}")'>
                                <div>
                                    <img class="handToken" id="{{ $token.ID }}_img" src="/static/images/{{ $token.Type.Image }}"/>
                                    {{ if $debug }}
                                        <div class="centered"> Position {{ $tokenNum }}</div>
                                    {{end}}
                                </div>
                            </div>
                        {{ end }}
                    </div>
                    <div class="cardHolder">
                        {{range $cardNum, $card := .Hand}}
                            <div class="handCard" draggable="true" id="{{ $card.ID }}" {{ if not $playableTokens }} onclick='setCardToPlay("{{ $card.ID }}")' {{ end }}>
                                <div>
                                    <img class="handCard" draggable="true" id="{{ $card.ID }}_img" src="/static/images/{{ $card.Name }}.png"/>
                                    {{ if $debug }}
                                        <div class="centered"> Position {{ $cardNum }}</div>
                                    {{end}}
                                </div>
                            </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    {{end}}
{{end}}
